@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

$white: rgba(225, 225, 225, 0.95);
$dark: rgba(200, 200, 200, 0.10);

.add-todo {
    word-wrap: inherit;
    margin: 2rem auto;
    max-width: 75vw;
    padding: 0;
    width: 70%;
    min-height: 10vh;
    
    h1 {
        word-wrap: anywhere;
        font-size: 4rem;
        margin: 0;
        color: $white;
        width: 100%;
    }
    
    input {
        font-family: 'Mukta', sans-serif;
        background-color: $dark;
        border: none;
        font-size: 2rem;
        border-radius: 10000px;
        padding: 2% 5% 2% 5%;
        margin: 2rem 0;
        color: $white;
        width: 80%;
        transition: background-color 200ms ease-in-out;
        &:focus {
            outline: none;
            background-color: rgba(200, 200, 200, 0.15);
        }
    }
}
